
/* #font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
/* #header */
    .home{
        width: 1050px;
        padding: 30px;
    }
.first-site{
    display: flex;
    background: #2D25A0;
    padding: 50px;
    -ms-flex-item-align:  center;
}
.live{
    color: #FFFFFF;
    width: 168px;
height: 44px;
left: 156px;
top: 464px;
background: #E02C6D;
}

.h1{
    color: #FFFFFF;
    font-weight: bold;
font-size: 64px;
line-height: 80px;
}
.first-site:hover .banner{
    transform: scale(.35) rotate(360deg);
    
}
.banner{
    transition: transform 1s ease-in-out;
}
.copa-img img{
    padding-left: 70px;
    width: 556.01px;
height: 438px;
}
/* Top-Players */
.conteiner{
    width: 1050px;
    padding: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
align-items: flex-start;
padding: 15px;
grid-row-gap: 30px;
}



.player{
    position: static;
width: 330px;
height: 474px;
background: #FFFFFF;
}
.player img{
    width: 300px;
height: 256px;
}
.players-name{
    font-size: 28px;
line-height: 40px;
color: #18191F;
}
.players-detaile{
    font-size: 16px;
line-height: 26px;
color: #6C6C6C;
}

/* style-footer*/
#footer{
    display: block;
    justify-content: center;
    margin-left: 430PX;
    margin-top: 150px;

}
.logo img{
    width: 230px;
    height: 50px;
}
.social-icons img{
    width: 4%;
    margin-left: 22px;

}
.common{
    display: flex;
    align-items: center;
}